html {
    font-family: "Fira Code", monospace;
    color: white;
}

body {
    margin: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #242424;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;

}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-input,
.posts-container {
    width: 400px;
}


h1 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    color: #80bf61;
    font-weight: 900;
    font-size: larger;
}

input,
textarea {
    width: 385px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #333;
    color: white;
}

.style-title {
    height: 40px;
}

.style-post {
    height: 100px;
}

.qty-symbols {
    text-align: right;
    margin-bottom: 10px;
}

button {
    max-width: 200px;
    border-radius: 15px;
    padding: 5px 20px;
    border: none;
    background-color: #37731a;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #5278a0;
}

.btn-posts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.post {
    position: relative;
    padding: 10px;
    overflow-wrap: break-word;
    margin-bottom: 20px;
    border: 1px solid rgb(120, 117, 117);
    border-radius: 10px;
    background-color: #333;
}

.post-content {
    overflow: hidden;
    margin-top: 30px;
}

.post-title {
    margin-bottom: 15px;
}

.post-date {
    margin-top: 15px;
}

.btn-delete-post {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    transition: color 0.3s;
}

.btn-delete-post:hover {
    color: rgb(225, 229, 228);
    background-color: #222121;
}

@media (min-width:768px) {
    .form-container {
        flex-direction: row;

    }

    .section-input,
    .posts-container {

        margin: 20px;
    }




}